@use 'variables' as variables;
//Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Colores de fondo y texto globales
.bg-blue {
  background-color: variables.$header-bg-color;
  color: variables.$header-text-color;
}

//Estilos Titulo Principal
.titulo-principal {
  color: variables.$titulo-principal-color;
  font-weight: variables.$titulo-principal-font-weight;
  font-size: variables.$titulo-principal-font-size;
  text-align: variables.$titulo-principal-text-align;
  margin-bottom: variables.$titulo-principal-margin-bottom;
  margin-top: variables.$titulo-principal-margin-top;
  font-family: variables.$titulo-principal-font-family;
}

//Mis P
.intro-text {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: center;
  color: #252525;
  max-width: 800px;
  margin: 0 auto 2rem auto; 
}

//Mis Cards
.card{
  background: rgb(238, 238, 241) !important;
}

// Estilos para Header y Menú Desktop
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  background-color: #003;

  nav {
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      padding: 0;

      li {
        a {
          color: white;
          text-decoration: none;
          font-weight: bold;
          transition: color 0.3s ease;

          &:hover {
            color: #5cb2e4;
          }
        }
      }
    }

    .nav-link {
      color: white;
      text-decoration: none;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
      }
    }
  }
}

//Estilos del Menú Mobile
.offcanvas {
  transition: transform 0.5s ease-in-out;

  &-start {
    width: 102% !important;
    max-width: 102% !important;
  }

  &-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

#menuSlide {
  top: 77px !important;

  .slide-links {
    margin-top: 40px;

    .nav-link {
      font-size: 2rem;
      padding: 1rem 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
      position: relative;
    }
  }
}

body {
  font-family: variables.$body-font-family;
  line-height: variables.$body-line-height;
  background: variables.$body-background;
  min-height: variables.$body-min-height;
  color:variables.$body-color;
  padding-top: variables.$body-padding-top;
}
